<li class="hidden-sm hidden-xs">
    <a href="#" data-toggle="sidebar">
        <i class="fa-bars"></i>
    </a>
</li>
<li class="hidden-sm hidden-xs">
    <a href="javascript:void(0);" onclick="(function() {
            $('#main-iframes .active iframe').attr('src', $('#main-iframes .active iframe').attr('src'))
    })(this)">
        <i class="fa-refresh"></i>
    </a>
</li>